/* From cssbuttons.io by @meermubashar */
.resetBtn {
    width: 140px;
    height: 45px;
    font-size: 32px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
   .resetBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: all 0.5s;
   }
   
   .resetBtn:hover::before {
    width: 100%;
   }
   
   .resetBtn:hover {
    color: white;
   }
   
   .resetBtn:active:before {
    background: black;
   }